---
description: Revoluzion List Of Team Members & Mods
---

# Revoluzion Verification

## <mark style="color:yellow;">Verification</mark>

Below are the list of Revoluzion core team members and mods. Below are the list of official contact links, feel free to contact any of the links below if you need help or guidance. any links besides the link listed below are not part of Revoluzion team or mods.

{% hint style="warning" %}
The Revoluzion team and moderators will never initiate a direct message or request funds. All payments should be made through the [Revoluzion.app](https://revoluzion.app) dApp's payment tab. To verify the legitimacy of a Telegram link, refer to the documentation provided below.
{% endhint %}

For more information about the Revoluzion team, please visit [https://revoluzion.io/team/](https://revoluzion.io/team/).

### <mark style="color:yellow;">Revoluzion Core Team</mark>

Zack - Founder\
****[https://t.me/Zackrevoluzion77](https://t.me/Zackrevoluzion77)****

Nur Phoebe - Advertising Lead\
[https://t.me/PheebsWong](https://t.me/PheebsWong)****

Nizar - Full Stack Developer\
[https://t.me/im6e697a6172](https://t.me/im6e697a6172)****

Han - Social / Content Lead\
[https://t.me/HanETG](https://t.me/HanETG)****

Firdaus - Cyber Security Lead\
[https://t.me/Firdauskhai](https://t.me/Firdauskhai)****

Ubai - Artwork Sketch Lead\
[https://t.me/Yggnir](https://t.me/Yggnir)****

Pozan - Marketing / Community Tech Lead\
[https://t.me/pzznnn](https://t.me/pzznnn)****

Ayman - ReactJS / Phyton / Android / iOS Developer\
[https://t.me/Aymancds](https://t.me/Aymancds)

Najmi - Graphic Designer Lead\
[https://t.me/nzesdyzar](https://t.me/nzesdyzar)****

Jasz - China Community Lead\
[https://t.me/Jaszong](https://t.me/Jaszong)****

Rizwan - Game Tech Support\
[https://t.me/mochimok13](https://t.me/mochimok13)****

Alan - Game Tech Support\
[https://t.me/alanlembu](https://t.me/alanlembu)****

Syawal - Head Admin\
[https://t.me/muhdsyawalsalim](https://t.me/muhdsyawalsalim)

### <mark style="color:yellow;">Revoluzion Mods</mark>

[https://t.me/PicinicBasket](https://t.me/PicinicBasket)\
[https://t.me/ztahoez](https://t.me/ztahoez)\
[https://t.me/d\_lxffy](https://t.me/d\_lxffy)\
[https://t.me/Kenotia](https://t.me/Kenotia)\
[https://t.me/bigmonday](https://t.me/bigmonday)\
[https://t.me/lizbotsch](https://t.me/lizbotsch)\
[https://t.me/OOBERLEADER](https://t.me/OOBERLEADER)\
[https://t.me/Philip702](https://t.me/Philip702)\
[https://t.me/dogedogcat](https://t.me/dogedogcat)\
[https://t.me/mcyk83](https://t.me/mcyk83)\
[https://t.me/amyr10](https://t.me/amyr10)\
[https://t.me/McCryptoScot](https://t.me/McCryptoScot)\
[https://t.me/Krypt0Keeper](https://t.me/Krypt0Keeper)\
[https://t.me/irecep11](https://t.me/irecep11)\
[https://t.me/John\_Rmb](https://t.me/John\_Rmb)
